<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 top">
    <h4>My Registered Applications</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <%= link_to "New Application", new_app_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 mid">
    <p class="text-info"><small>
      <%= pluralize(@apps.count, "application") %> by <%= current_user.email %><br />
    </small></p>  
    <% @apps.each do |app| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading"><%= link_to app.name, app %> - <%= app.url %></h4>
          <small class="text-info">created <%= time_ago_in_words(app.created_at) %> ago
          <p><%= pluralize(app.events.count, "event") %></p></small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-1">
  </div>
</div>
