<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 top">
    <h4><%= @app.name %></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% if app_owner? || admin? %> 
      <%= link_to "Edit Application", edit_app_path, class: 'btn btn-primary' %>
      <%= link_to "Delete Application", @app, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this application?' } %>
    <% end %>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row"> 
  <div class="col-md-1">
  </div>
  <div class="col-md-10 mid">
    <div class="row"> 
      <div class="col-md-4">
        <p><%= link_to @app.url, "#{@app.url}", :target => '_blank' %>
        <br /><br />
        <% @events.group_by(&:name).each do |name, events| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%= name %><small>  - count: <%= events.count %></small>
              </h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <% if @app.events.count != 0 %>
          <%= pie_chart @events.group(:name).count, width: "600px", height: "250px" %>
          <br />
          <%= line_chart @events.group_by_day(:created_at).count, xtitle: "Time", ytitle: "Events", width: "600px", height: "250px" %>
        <% else %>
          <br /><br /><small>**  no events  **</small>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
